<h3><b>Name:</b> <%= @client.name %> </h3>
<br>
<h3><b>Current Projects:</b></h3>
<ul>
  <% @client.projects.each do |project| %>
    <li> <a href="/projects/<%=project.id%>"><%= project.project_name %></a> </li>
  <% end %>
</ul>

<a href="/clients/<%=@client.id%>/edit">Edit Client</a>
<br>
<a href="/clients/<%=@client.id%>/delete">Delete Client</a>
