<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<p><b>Description:</b> <%= @project.description %> </p>
<p><b>Priority:</b> <%= @project.priority %> </p>
<p><b>Budget:</b> <%= @project.budget %> </p>
<br>
<a href="/projects/<%=@project.id%>/edit">Edit Project</a>
<br>
<a href="/projects/<%=@project.id%>/delete">Delete Project</a>
