<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<p><b>Project Number:</b> <%= @project.project_number %> </p>
<p><b>Project Name:</b> <%= @project.project_name %> </p>
<p><b>Delivery Date:</b> <%= @project.delivery_date %> </p>
<p><b>Budget Remaining:</b> <%= @project.budget_remaining %> </p>
<p><b>Status:</b> <%= @project.status %> </p>
<br>
<a href="/projects/<%=@project.id%>/edit">Edit Project</a>
<br>
<a href="/projects/<%=@project.id%>/delete">Delete Project</a>
